@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: white;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  font-family: "Poetsen One", sans-serif;
}

.photo {
  display: none;
  width: 400px;
  border: 2px, white;
}

button {
  font-size: 18px;
  padding: 5px;
  margin: 2px;
  background-color: white;
  border: 2px solid plum;
  font-family: "Gill Sans", sans-serif;
}

button:hover {
  background-color: plum;
  color: white;
}